<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All farm</title>
</head>
<body>
    <h1>All Farms</h1>
        <ul>
            <% for(let farms of Farm) {%> 
            <li><%= farms.name %>   </li>
            <% } %> 
        </ul>
</body>
</html>